{% extends "base.html" %}
{% load static %}

{% block title %}
    Alumni Portal | Login
{% endblock %}


{% block content %}
<div class="login-container">
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col side-image">

                    <div class="logos">
                    <img src="{% static 'images/PUPLogo.png' %}" alt="pup-logo">
                    <img src="{% static 'images/arcdologo.jpg' %}" alt="pup-image">
                    </div>

                    <div class="text">
                        <h1>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h1>
                        <p>Alumni Relations & Carreer Development</p>
                    </div>

                </div>



                <div class="col-md-7 right">
                    
                    <div class="input-box">
                    
                    <header>Faculty Login</header>
                    <div class="input-field">
                            <input type="text" class="input" id="email" required="" autocomplete="off">
                            <label for="email">Email</label> 
                        </div> 
                    <div class="input-field">
                            <input type="password" class="input" id="pass" required="">
                            <label for="pass">Password</label>
                        </div> 
                    <div class="input-field">
                            
                            <input type="submit" class="submit" value="Sign In">
                    </div> 

                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}