{% extends "base.html" %} {% load static %} 

{% block title %} Alumni Portal | Login {% endblock %} 

{% block content %}
<div class="login-container">
  <div class="wrapper">
    <div class="container main">
      <div class="row">
        <div class="col side-image">
          <div class="logos">
            <img src="{% static 'images/PUPLogo.png' %}" alt="pup-logo" />
            <img src="{% static 'images/arcdologo2.png' %}" alt="pup-image" />
          </div>

          <div class="text">
            <h1>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h1>
            <p>Alumni Relations & Carreer Development</p>
          </div>
        </div>

        <div class="col-md-7 right">
          <div class="input-box">
            <header>Alumni Login</header>
            <form method="POST">
              {% csrf_token %} {% if messages %} {% for message in messages %}
              <div class="alert alert-danger text-center" role="alert">
                {{ message }}
              </div>
              {% endfor %} {% endif %}

              <div class="input-field">
                <input class="form-control input" type="text" id="email" name="email" required="" autocomplete="off"/>
                <label for="email">Email</label>
                <div id="email-invalid" class="invalid-feedback">
                  Invalid email address
                </div>
              </div>
              <div class="input-field">
                <input type="password" class="input form-control" name="password" id="password" required="" />
                <label for="password">Password</label>
              </div>
              <div class="input-field login-submit-btn-div">
                <button type="submit" class="submit login-submit-btn" id="form-submit">
                  <span id="btn-spinner" class="spinner d-none"></span>
                  <span id="btn-text">Sign In</span>
                </button>
              </div>
              <div class="signup">
                <p>Does not have an account?</p>
                <p><a href="/signup">Sign Up Here</a></p>
                <p><a href="/forgot-password">Forgot Password</a></p>

                <p class="mt-3"><a href="/">Back to home</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script nonce="{{ request.csp_nonce }}" src="{% static 'js/spinner.js' %}"></script>
<link nonce="{{ request.csp_nonce }}" href="{% static 'css/spinner.css' %}" rel="stylesheet" type="text/css">
<script nonce="{{ request.csp_nonce }}" src="{% static 'js/authentication.js' %}"></script>

{% endblock %}
