{% extends "base.html" %}
{% load static %}

{% block title %}
    Alumni Portal | Login
{% endblock %}
{% load csp %}


{% block content %}
<div class="login-container">
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col side-image">

                    <div class="logos">
                    <img src="{% static 'images/PUPLogo.png' %}" alt="pup-logo">
                    <img src="{% static 'images/arcdologo2.png' %}" alt="pup-image">
                    </div>

                    <div class="text">
                        <h1>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h1>
                        <p>Alumni Relations & Carreer Development</p>
                    </div>

                </div>


                
                <div class="col-md-7 right">

                    <div class="btn-box">
                        <div class="d-grid gap-2">
                                <h2>Hi, PUPian!</h2>
                                <p>Welcome to the Alumni Portal. Please select your account type to proceed.</p>
                                <button class="btn cust-btn" type="button" id="alumniBtn">ALUMNI</button>
                                <button class="btn cust-btn" type="button" id="adminBtn">ADMIN</button>
                                <div class="text-center mt-5">
                                    <button class="btn back-btn" type="button" onclick="window.location.href = '/'">Back to home</button>
                                </div>
                            </div> 
                        </div>  
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% script type="application/javascript" async=False %}
    <script>
    document.getElementById('alumniBtn').addEventListener('click', function () {
        window.location.href = '/login';
    });

    document.getElementById('adminBtn').addEventListener('click', function () {
        window.location.href = '/faculty';
    });
    </script>
{% endscript %}
{% endblock %}