{% extends "base.html" %}
{% load static %}

{% block title %}
    Alumni Portal | Register
{% endblock %}


{% block content %}
<!-- <div class="login-container">
    <div class="wrapper">
        <div class="container main">
            
            <div class="row">
                <div class="col side-image">

                    <div class="logos">
                    <img src="{% static 'images/PUPLogo.png' %}" alt="pup-logo">
                    <img src="{% static 'images/arcdologo.jpg' %}" alt="pup-image">
                    </div>

                    <div class="text">
                        <h1>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h1>
                        <p>Alumni Relations & Carreer Development</p>
                    </div>

                </div>
            </div>     

        </div>
    </div>
</div> -->
<div class="signup-container">
    <div class="wrapper">
        <div class="main">

            <div class="signup-row">
                <div class="signup-left">

                    <div class="logos mb-2">
                        <img src="{% static 'images/PUPLogo.png' %}" alt="pup-logo">
                        <img src="{% static 'images/arcdologo.jpg' %}" alt="pup-image">
                    </div>

                    <div class="text">
                        <h2>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h2>
                        <p>Alumni Relations & Career Development</p>
                    </div>

                </div>

                <div class="signup-right">
                    <!-- <h3>Sign Up</h3> -->
                    <div class="signup-form">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="form-box bg-white p-4 shadow-lg">
                            <h6 class="text-center fw-bold mb-3">Register Account</h6>
                            <form method="POST">
                                {% csrf_token %}

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger text-center" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" placeholder="Last Name" name="last_name" id="last_name" required></div>
                                    <div class="col-md-4"><input type="text" class="form-control" placeholder="First Name" name="first_name" id="first_name" required></div>
                                    <div class="col-md-4"><input type="text" class="form-control" placeholder="Middle Name" name="middle_name" id="middle_name"></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4"><input type="text" class="form-control" placeholder="Mobile No." name="mobile" id="mobile" required></div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Birthday" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" name="birthday" id="birthday" required>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="sex" id="sex" required>
                                        <option selected disabled>Sex</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <input type="email" class="form-control" placeholder="Email Address" id="email" name="email"  required>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Course" name="course" id="course"  required>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- <input type="text" class="form-control" placeholder="Year Graduated" required> -->
                                        <!-- <input type="number" class="form-control" min="1900" max="2099" step="1" placeholder="Year Graduated" required/> -->
                                        <select class="form-select" id="school_year" name="school_year">
                                        <option selected="" disabled="">School Year</option>
                                        </select>   
                                    </div>
                                </div>
                                <!-- <div class="mb-1 small text-muted fst-italic">*This section is optional</div> -->

                                <div class="mb-2"><input type="text" class="form-control" placeholder="Current Company" ></div>

                                <div class="row mb-2">
                                    <div class="col-md-8"><input type="text" class="form-control" placeholder="Current Position"></div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="Employment Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                                    </div>
                                </div>
                                 <div class="mb-2">
                                        <input type="text" class="form-control" placeholder="Student Number" name="student_number" id="student_number" required>
                                 </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-pass" name="confirm-pass" required>
                                    </div>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="agree" name="agree" required>
                                    <label class="form-check-label small" for="agree">
                                        I agree to the Terms and Agreement for this website.
                                    </label>
                                </div>
                                <button type="submit" class="w-100">SUBMIT</button>
                                <p class="text-center mt-3 small">Already have an account? <a href="/login" class="fw-bold">Sign in Here</a></p>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
{% endblock %}