{% extends "user_page_layout.html" %}
{% load static %}
{% load csp %}

{% block title %}
    Alumni Portal | User Dashboard
{% endblock %}


{% block content %}

    {% include "components/top_nav.html" %}

    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include "components/sidebar.html" %}
            <div class="col mb-3">
                <div class="user-header mt-3">
                    <h3>Change Password</h3>
                </div>
                <div class="p-3 bg-light">

                <!-- Render the form -->
                    <div class="container mt-3">
                    <form id="changePassForm" class="userForm mb-3" method="post">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <div class="form-floating position-relative">
                                    <input type="password" class="form-control" id="current_password" name="current_password">
                                    <label for="current_password" class="form-label">Current Password</label>
                                    <i class="fa-solid fa-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                                    data-target="current_password"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <div class="form-floating position-relative">
                                    <input type="password" class="form-control" id="new_password" name="new_password">
                                    <label for="new_password" class="form-label">New Password</label>
                                    <i class="fa-solid fa-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                                    data-target="new_password"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <div class="form-floating position-relative">
                                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password">
                                    <label for="confirm_new_password" class="form-label">Confirm New Password</label>
                                    <i class="fa-solid fa-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                                    data-target="confirm_new_password"></i>
                                </div>
                            </div>
                        </div>

                        <div class="text-end mt-4 center-spinner">
                            <button id="form-submit" type="submit" class="submit-btn me-3"><span id="btn-spinner" class="spinner d-none"></span>Save Password</button>
                        </div>
                    </form>
                    </div>    
                </div>       
            </div>
        </div>
        
    </div>


<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
<!-- Toast template will be added dynamically -->
</div>




<script nonce="{{ request.csp_nonce }}" src="{% static 'js/toast.js' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'js/onerror-img.js' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'js/show_password.js' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'js/handle_change_pass.js' %}"></script>

{% endblock %}

