{% extends "user_page_layout.html" %}
{% load static %}

{% block title %}
    Alumni Portal | User Dashboard
{% endblock %}

{% block content %}
{% include "components/top_nav.html" %}
    <div class="container-fluid">
        <div class="row flex-nowrap">

            {% include "components/sidebar.html" %}

            <div class="col mb-3">

                <div class="user-header mt-3">
                    <h3>SAVED JOBS</h3>
                </div>

                <!-- Scrollable Container (Only Y-axis) -->
                <div class="bg-light p-4 min-vh-100">
                    <div class="container-fluid">
                      <div class="row overflow-y-auto overflow-x-hidden" >
                        <div class="save-job-grid"  id="jobs-container">
                            <!-- Job cards will be inserted here -->
                        </div>
                      </div>
                    </div>
                </div>
                  
                <script nonce="{{ request.csp_nonce }}" src="{% static 'js/get_saved_jobs.js' %}"></script>

            </div>
        </div>
    </div>
{% endblock %}
