{% extends "user_page_layout.html" %}
{% load static %}

{% block title %}
    Alumni Portal | User Dashboard
{% endblock %}

{% block content %}
{% include "components/top_nav.html" %}
    <div class="container-fluid">
        <div class="row flex-nowrap">

            {% include "components/sidebar.html" %}

            <div class="col mb-3">

                <div class="user-header mt-3">
                    <h3>Saved Jobs</h3>
                </div>

                <!-- Scrollable Container (Only Y-axis) -->
                <div class="bg-light p-3 min-vh-100 d-flex flex-column">
                    <div class="row">
                        <div class="col gap-3">
                            <div id="jobs-container" class="overflow-y-auto" style="max-height: 100vh; overflow-x: hidden;">
                                <!-- Jobs will be inserted here dynamically -->
                            </div>
                        </div>
                    </div>
                </div>

                <script src="{% static 'js/get_jobs.js' %}"></script>

            </div>
        </div>
    </div>
{% endblock %}
