{% extends "user_page_layout.html" %}
{% load static %}

{% block title %}
    Alumni Portal | User Dashboard
{% endblock %}

{% block content %}
{% include "components/top_nav.html" %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include "components/sidebar.html" %}
        <div class="col mb-3">

                <div class="user-header mt-3">
                    <h3>DONATE</h3>
                </div>

                <div class="bg-light p-3 min-vh-100 d-flex flex-column">
                    <div class="row">
                        <div class="col gap-3">
                            
                            <!-- start of donation -->

                            <!-- Bank Transfer Section -->
                             <div class="card mb-3">
                                <div class="card-body">
                                <h5 class="card-title">Directly Bank Transfer</h5>
                                <p><strong>Account Number:</strong> {{ settings.bank1_account_number }}</p>
                                <p><strong>Account Name:</strong>  {{ settings.bank1_account_name }}</p>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body">
                                <h5 class="card-title">Directly Bank Transfer</h5>
                                <p><strong>Account Number:</strong> {{ settings.bank2_account_number }}</p>
                                <p><strong>Account Name:</strong> {{ settings.bank2_account_name }}</p>
                                </div>
                            </div>

                            <!-- QR Code Section -->
                            <div class="row qr-section text-center mb-4">
                                <div class="col-md-4">
                                    <div class="qr-box gcash">
                                        <div class="qr-title text-white">GCASH</div>
                                        <img src="{{ settings.gcash_qr.url }}" alt="GCASH QR" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="qr-box maya">
                                        <div class="qr-title text-white">MAYA</div>
                                        <img src="{{ settings.maya_qr.url }}" alt="MAYA QR" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="qr-box paypal">
                                        <div class="qr-title text-white">PAYPAL</div>
                                        <img src="{{ settings.paypal_qr.url }}" alt="PAYPAL QR" class="img-fluid">
                                    </div>
                                </div>
                            </div>

                            <!-- Contact Details Section -->
                            <div class="card contact-section">
                                <div class="card-body">
                                    <h5 class="card-title">Contact Details</h5>
                                    <div class="row">
                                        <div class="col-md-3 fw-bold">Name</div>
                                        <div class="col-md-9">Alumni Relations & Career Development Office</div>

                                        <div class="col-md-3 fw-bold">Address</div>
                                        <div class="col-md-9">{{ settings.arcdo_address_line1 }}, {{ settings.arcdo_address_line2 }}, {{ settings.arcdo_address_line3 }}</div>

                                        <div class="col-md-3 fw-bold">Contact</div>
                                        <div class="col-md-9">{{ settings.phone_number_1 }}, {{ settings.phone_number_2 }} or{{ settings.phone_number_3 }}</div>

                                        <div class="col-md-3 fw-bold">Email</div>
                                        <div class="col-md-9">{{ settings.arcdo_email }}</div>
                                    </div>
                                </div>
                            </div>

                             <!-- end of donation-->
                        </div>
                    </div>
                </div>

                
                

        </div>
        
    </div>
</div>
{% endblock %}
