{% extends "user_page_layout.html" %}
{% load static %}
{% load csp %}

{% block title %}
    Alumni Portal | User Dashboard
{% endblock %}

{% block content %}
{% include "components/top_nav.html" %}
{% csrf_token %}


<div class="container-fluid">
    <div class="row flex-nowrap">
        
        {% include "components/sidebar.html" %}
            
        <div class="col-xl-9 my-3">
            <div class="row justify-content-center">
                <div class="col-md-8">

                    {% include "components/related_alumni.html" %}
                    <div class="line-divider"></div>
                    <div class="dropdown m-0">
                        <button class="btn btn-sm dropdown-toggle no-border-btn" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        Most Recent
                        </button>
                            <ul class="dropdown-menu small-dropdown fit-to-text" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item active" href="#">Most Recent</a></li>
                            <li><a class="dropdown-item" href="#">Most Popular</a></li>
                        </ul>
                    </div>
                    <div id="news-feed-container"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="linkCopiedModal" tabindex="-1" aria-labelledby="linkCopiedLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="linkCopiedLabel">Link Copied</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The link has been successfully copied to your clipboard!
      </div>
    </div>
  </div>
</div>

<script nonce="{{ request.csp_nonce }}" src="{% static 'js/load_feed_content.js' %}"></script>


{% script type="application/javascript" async=False %}
<script>
function handleSend(element) {
    const link = element.getAttribute('data-link');

    navigator.clipboard.writeText(link)
        .then(() => {
            // Show a Bootstrap modal or any success message
            const modal = new bootstrap.Modal(document.getElementById('linkCopiedModal'));
            modal.show();
        })
        .catch(err => {
            alert('Failed to copy link: ' + err);
        });
}
</script>
{% endscript %}

{% endblock %}
