{% extends "layout.html" %}
{% load static %}

{% block title %}
    Alumni Portal | Events
{% endblock %}

{% block content %}
    {% include "components/banner.html" %}
    
    <div class="top-spacer mb-5">
        <div class="container d-flex align-items-center">
            <h2>LATEST <span>EVENTS</span></h2>
        </div>
    </div>

    <section id="latest-events">

    <div class="container events-container">
        <div class="row event-filter">
            <div class="col-auto">
                <label for="event-filter" class="col-form-label">Filter Event</label>

                <select id="event-filter" class="form-select" aria-label="Event filter">
                    <option value="all" selected>All Events</option>
                    <option value="upcoming" >Upcoming Events</option>
                    <option value="past">Past Events</option>
                </select>
            </div>


            <div class="col-auto">
                <label for="month-filter" class="col-form-label">Month</label>

                <select id="month-filter" class="form-select" aria-label="Month select example">
                    {% for month in months %}
                        <option value="{{ month.value }}" {% if month.value == 0 %}selected{% endif %}>{{ month.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto">
                <label for="year-filter" class="col-form-label">Year</label>

                <select id="year-filter" class="form-select" aria-label="Year select">
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row event-cards" id="event-cards-container">
            {% include 'components/event_cards.html' %}
        </div>

        <div class="pagination-controls d-flex justify-content-center mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>

    </div>

    </section>


    <script nonce="{{ request.csp_nonce }}" src="{% static 'js/filter-events.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}" src="{% static 'js/pagination.js' %}"></script>

{% endblock %}
