{% extends "layout.html" %}
{% load static %}
{% block title %}
    {{ event.title }}
{% endblock %}
{% block content %}
{% csrf_token %}

<div class="container">
    <div class="row justify-content-center">
        <div class="arcticle-content my-3">
            <a href="javascript:history.back()" class="btn btn-secondary my-3">Back</a>
            <article class="py-3">
                {% if event.banner %}
                    <img src="{{ event.banner.url }}" alt="Banner for {{ event.title }}">
                {% endif %}
                <h1>{{ event.title }}</h1>
                <p>Published on: {{ event.date }}</p>
                <pre>{{ event.body }}</pre>

                {% load custom_filters %}

                {% if user_events is not None and user_events|length > 0 %}
                {% if user_events|contains_event:event.id %}
                    <button class="btn btn-danger unsave-event-btn d-flex align-self-end ms-auto" data-id="{{ event.id }}">
                        Unsave Event
                    </button>
                {% else %}
                    <button class="btn btn-outline-danger save-event-btn d-flex align-self-end ms-auto" data-id="{{ event.id }}">
                        Save Event
                    </button>
                {% endif %}
                {% else %}
                    <button class="btn btn-outline-danger save-event-btn d-flex align-self-end ms-auto" data-id="{{ event.id }}">
                        Save Event
                    </button>
                {% endif %}
                
            </article>
        </div>
    </div>
</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
    <!-- Toast template will be added dynamically -->
</div>

<script src="{% static 'js/handle-events.js' %}"></script>
{% endblock %}
