Django
django-recaptcha==4.0.0
djangorestframework
djangorestframework-simplejwt
python-decouple==3.8
fontawesomefree
requests
gunicorn
django-storages 
boto3
Pillow
markdown
django-filter
psycopg2
openpyxl
pandas
xlsxwriter
django-cors-headers
django-permissions-policy
django-csp
