{% load static %}

<div class="events-banner ">
  <div class="splide" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src={% static 'images/grad.jpg' %} alt="...">
            <div class="carousel-caption">
              <H1>Event Title</H1> 
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero lacus, bibendum id suscipit at, euismod vitae nunc.</p>
              <div class="row caption-content">
                  <div class="col-md-2">
                      <p><span><i class="fa-regular fa-calendar"></i></span> April 21, 2025</p>
                  </div>
                  <div class="col-md-2">
                      <p><span><i class="fa-solid fa-clock"></i></span> 10:00 AM</p>
                  </div>
                  <div class="col-md-2">
                      <p><span><i class="fa-solid fa-location-dot"></i></span> Zoom Meeting</p>
                  </div>
              </div>
          </div>
        </li>
        <li class="splide__slide">
          <img src={% static 'images/main.jpg' %} alt="...">
        </li>
        <li class="splide__slide">
          <img src={% static 'images/lagoon.jpg' %} alt="...">
        </li>
      </ul>
    </div>
  </div>
</div>


<script src={% static 'js/events-banner-init.js' %}></script>