{% load static %}
<!--ARCDO OFFICIALS STAFF-->
<div class="org-heading text-center mb-5">
    <div class="container">
        <h2 class="text-center">ARCDO OFFICIALS AND STAFF</h2>
        <div class="underline"></div><br>
        <p class="text-center">Get to know the people behind the Alumni Relations and Career Development Office - PUP</p>
    </div> 
</div>

<div class="org container">
    <div class="row mb-4">
        <div class="col-md-12 d-flex flex-column align-items-center">
            <img src="{{ officials.director.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.director.name }}</h6>
            <p class="text-center">Director</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 d-flex flex-column align-items-center">
            <img src="{{ officials.chief_career_development_placement_services.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.chief_career_development_placement_services.name }}</h6>
            <p class="text-center">Chief, Career Development & Placement Services</p>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center">
            <img src="{{ officials.chief_alumni_relations_services.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.chief_alumni_relations_services.name }}</h6>
            <p class="text-center">Chief, Alumni Relations Services</p>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.admin_staff_1.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.admin_staff_1.name }}</h6>
            <p class="text-center">Admin Staff</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.admin_staff_2.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.admin_staff_2.name }}</h6>
            <p class="text-center">Admin Staff</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.admin_staff_3.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.admin_staff_3.name }}</h6>
            <p class="text-center">Admin Staff</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.admin_staff_4.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.admin_staff_4.name }}</h6>
            <p class="text-center">Admin Staff</p>
        </div>
    </div>
</div>
<!--THE EXECUTIVE OFFICIALS-->

<div class="org-heading text-center mb-5">
    <div class="container">
        <h2 class="text-center">THE EXECUTIVE OFFICIALS</h2>
        <div class="underline"></div><br>
    </div> 
</div>

<div class="org container">
    <div class="row mb-4">
        <div class="col-md-12 d-flex flex-column align-items-center">
            <img src="{{ officials.president.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.president.name }}</h6>
            <p class="text-center">President</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src="{{ officials.executive_vice_president.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.executive_vice_president.name }}</h6>
            <p class="text-center">Executive Vice President</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src="{{ officials.vice_president_for_academic_affairs.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.vice_president_for_academic_affairs.name }}</h6>
            <p class="text-center">Vice President for Academic Affairs</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src="{{ officials.vice_president_for_student_affairs_services.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">{{ officials.vice_president_for_student_affairs_services.name }}</h6>
            <p class="text-center">Vice President for Student Affairs & Services</p>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.vice_president_for_research_extension_devt.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.vice_president_for_research_extension_devt.name }}</h6>
            <p class="text-center">Vice President for Research, Extension, & Dev't</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.vice_president_for_branches_campuses.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.vice_president_for_branches_campuses.name }}</h6>
            <p class="text-center">Vice President for Branches & Campuses</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.vice_president_for_administration.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.vice_president_for_administration.name }}</h6>
            <p class="text-center">Vice President for Administration</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src="{{ officials.vice_president_for_finance.photo.url }}" alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">{{ officials.vice_president_for_finance.name }}</h6>
            <p class="text-center">Vice President for Finance</p>
        </div>
    </div>
</div>