{% extends "layout.html" %}

{% block title %}
    {{ school_abv }} Alumni Website | Home
{% endblock %}

{% block content %}
    {% include "components/hero.html" %}

    {% comment %} <div class="container">
        <div class="row w-text">
            <div class="col-md-8">
                
                <div class="title">
                <h1>WELCOME</h1>
                <h6>TO THE</h6>
                <h1>PUP ALUMNI PORTAL</h1>
                </div>

                <p>Celebrating the legacy of PUP alumni, fostering connections, and inspiring future generations.</p>
        </div>
        </div>
    </div> {% endcomment %}
    
    {% include "components/announcement.html" %}
    {% include "components/services.html" %}
    {% include "components/events.html" %}
{% endblock %}