.events-banner {
  background-size: cover;
  text-align: center;
  background-position: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  padding: 1rem 0;
}

.events-banner .carousel-caption {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  justify-content: center;
}

.events-banner .caption-content {
  display: flex;
  justify-content: center;
}

.splide__slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(0.8)  contrast(1.2);
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.events-container {
  width: 80vh;
}

.event-cards .card{
  height: fit-content;
  border-radius: 0%;
  padding: 0;
  width: 18rem;
}

.event-cards .card img{
  object-fit: cover;
  border-radius: 0% !important;
  height: 200px;
  object-position: top;
}

.event-cards .overlay {
  position: absolute;
  bottom: 8px;
  right: 8px;
  text-align: right;
}


.event-cards .badge {
  display: inline-block;
  border-radius: 0;
}

@media screen and (max-width: 1024px) {
  .event-cards {
    justify-content: center;
  }
  
}

.event-filter {
  margin: 1rem 0 !important;
  align-items: center;
}
