{% extends "layout.html" %}
{% load static %}

{% block title %}PUP Alumni Website | Careers{% endblock %}

{% block content %}
<div class="pt-5">
    
<div class="top-spacer mb-5">
    <div class="container d-flex align-items-center"> <!-- Use a height that suits your design -->
        <h2>JOB <span>OPPORTUNITIES</span></h2>
    </div>
</div>

<div class="container-fluid">
    <!-- <h1 class="text-center">JOB OPPORTUNITIES</h1> -->

    {% include "components/jobsearch.html" %}

    <!-- Scrollable container -->
    <div class="row mt-5 gap-3 justify-content-center">
        <div class="col-md-4 mb-2">

            <div id="jobs-container">

            </div>
            
            <div class="pagination-controls justify-content-center mt-3" id="pagination-controls">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>

            <div id="loader" class="text-center">
                <p>Loading...</p>
            </div>

        </div>

        <!-- Loader -->
 

        <div class="job-description col-md-6">
            <div class="alert alert-light text-center border border-3 border-danger">
                <h5 class="alert-heading" style="color: #800000;">No Job Selected</h5>
                <p class="text-dark">Select a job from the list to see more details. Browse through the available opportunities and find your next career step!</p>
            </div>
        </div>
        
    </div>
</div>
</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
    <!-- Toast template will be added dynamically -->
</div>

<script src="{% static 'js/filter-careers.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>

{% endblock %}
