{% load static %}

<div class="events-banner">
  <div class="splide" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">

        <li class="splide__slide">
          <img src={% static 'images/main.jpg' %} alt="...">
        </li>
        
        <li class="splide__slide">
          <img src={% static 'images/lagoon.jpg' %} alt="...">
        </li>

        <li class="splide__slide">
          <img src={% static 'images/lagoon.jpg' %} alt="...">
        </li>

        <li class="splide__slide">
            <img src={% static 'images/lagoon.jpg' %} alt="...">
        </li>

        <li class="splide__slide">
            <img src={% static 'images/lagoon.jpg' %} alt="...">
        </li>

        <li class="splide__slide">
            <img src={% static 'images/lagoon.jpg' %} alt="...">
        </li>
        
      </ul>
    </div>
  </div>
</div>

<script src={% static 'js/article-gallery-init.js' %}></script>