{% load static %}

<div class="FeaturedArticle">

    <img src={% static "images/gradpic.jpg" %} alt="Background Image">
    <div class="row">
        <div class="col">
            <h2>Article Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>