@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../fonts/RobotoSlab-Bold.ttf');
}

.nav-logo-text {
    font-size: .8rem;
}

main {
    background-color: #ececec;
    min-height: 100vh;
}

/* Styles for the navigation bar */
.navbar {
    background-color: #800000;
    color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.banner-text {
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 0.3rem;
    font-family: 'Sansation';
    margin-top: 1rem;
    color: #fff;
}

.banner-md {
    display: none;
}

.banner img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}


.navbar-nav {
    font-family: 'Inter';
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.nav-item {
    list-style: none;
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.navbar-nav a:hover {
    color: #FFC107;
}

.navbar-nav .nav-item a:focus{
    color: #FFC107;
}
/* Navbar Dropdown */
.navbar-nav .nav-item .dropdown-menu {
    /* background-color: rgba(255, 223, 0, 0.9); */
    border: 2px solid var(--pupred);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-item .dropdown-menu a {
    color: var(--pupred);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}
.navbar-nav .nav-item .dropdown-menu a:hover {
    background-color: rgba(255, 223, 0, 0.9);
    color: var(--pupdarkred);
}

button.navbar-toggler {
    color: #fff;
    border-radius: 0.5rem;
    border: 0.5px solid #fff;
}

button.navbar-toggler img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    filter: invert(100%);
}

.top-spacer {
    width: 100%;
    height: 5.5rem;
    background: url(/static/images/spacer.png);
    background-size: 10% 100%;
    background-repeat: repeat;
    margin: 0.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 0.1);
}


.top-spacer h1 {
    font-weight: 500;
    margin: 0;
}

.top-spacer h2 {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}

.top-spacer span {
    font-weight: 700;
    letter-spacing: 2px;
    color: #800000;
}


@media (max-width: 576px) {

    .navbar .navbar-collapse {
        margin: 0.5rem;
    }
    
    .navbar-nav .nav-item:hover{
        background-color: #fff;
      }
    
    .navbar-nav .nav-item .nav-link {
        padding: 1rem; 
        letter-spacing: 1.5px;
    }
      

    .banner-text {
        display: none;
    }

    .banner-md {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        line-height: 0.3rem;
        font-family: 'Sansation';
        margin-top: 1rem;
        color: #fff;
    }

    .top-spacer{
        background-size: 30% 100%;
     }   
}

@media (min-width: 1025px) {
    .container-fluid.navigation {
        padding: 0.5rem 0;
        margin: 0 5rem;
    }
}

@media (min-width: 1024px) {
    .navbar-nav {
        text-align: center;
        align-items: center;
    }
    
}

@media (max-width: 992px) {
    ul li.h-item {
        display: block;
        background: #FFC107;
        text-align: center;
        box-shadow: #555555 0px 0px 5px;
    } 

    ul li.h-item a {
        font-family: 'Sansation';
        font-weight: 500;
        letter-spacing: 2px;
    }
    ul li.h-item a:hover {
        color: #464543;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .top-spacer {
        background-size: 18% 100%;
    }
    
}

/* Styles for the footer section */

#map {
    border: 0 !important;
    margin: 0;
    height: 450px;
    border-top: 1px solid #2D2926;
}

footer {
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1.2rem;
    background-color: #555555;
    color: #F5F5F5;
}

footer h5 , footer h6 , footer form label{
    color: #FFB300;
}
footer input::placeholder, footer textarea::placeholder {
    font-style: italic;
    font-size: 0.8rem;
}
footer textarea::placeholder {
    padding: 10px;
}
/* socials */

footer  .footer-social-icons i {
    font-size: 1.5rem;
    color: #fff;
}

.footer-social-icons i:hover {
    color: #FFC107;
}

footer .footer-form {
    background-color: rgba(255, 255, 255, 0.15);
}

.footer-button {
    background-color: transparent;
    border: 2px solid #FFC107;
    border-radius: 5px;
    padding: 10px 10px;
    color: #FFC107;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.footer-button:hover {
    background-color: #FFB300;
    color: #F5F5F5;
}

.copyrights {
    background-color: #2D2926;
    padding: 1.5rem 2rem 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
    height: 6rem;
    width: 100%;
    margin: 0;
}
@media (max-width: 576px) {
    footer .footer-form {
        padding: 1rem;
    }
    
    footer .footer-form input, footer .footer-form textarea {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    
    footer .footer-button {
        margin-top: 0.5rem;
    }
}

/* ALUMNI PORTAL LOGO CSS */
.text-logo {
    font-size: 1.2rem; 
    font-weight: 500; 
    letter-spacing: .6rem;
    text-shadow: -.5px -.5px 0 #FFDF00, .5px -.5px 0 #FFDF00,
    -.5px .5px 0 #FFDF00, .5px .5px 0 #FFDF00; color: white;
}


.course-sug {
    display: none; z-index: 1000;
}

.white-space-pre-wrap {
    white-space:pre-wrap;
    
}

.pointer {
    cursor: pointer;
}

.pup-red {
    color: #800000 !important;
}

.center-spinner {
    text-align: center !important;
}

#form-submit{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}