{% load static %}
<div class="col-md-4 mb-4">
  <div class="story-card">
    <img
      src="{% static 'images/pylon2022.jpg' %}"
      alt=""
      class="img-fluid story-img"
    />
    <h3 class="story-title">Star City Love Story</h3>
    <p class="story-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
      voluptatum. Quisquam, cumque. Doloremque, asperiores. Quasi, cumque.
      Doloribus, voluptatum. Quisquam, cumque. Doloremque, asperiores. Quasi,
      cumque.
    </p>
    <a href="/stories/story_page" class="story-readmore">Read More</a>
  </div>
</div>

<div class="col-md-4 mb-4">
  <div class="story-card">
    <img
      src="{% static 'images/pylon2022.jpg' %}"
      alt=""
      class="img-fluid story-img"
    />
    <h3 class="story-title">Kwentong Bayan</h3>
    <p class="story-description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto alias modi
      quasi veritatis iure recusandae atque harum? Laboriosam quidem tempora,
      unde quae, dolores maiores aut, nihil nobis nemo eaque labore.
    </p>
    <a href="" class="story-readmore">Read More</a>
  </div>
</div>
<div class="col-md-4 mb-4">
  <div class="story-card">
    <img
      src="{% static 'images/lagoon.jpg' %}"
      alt=""
      class="img-fluid story-img"
    />
    <h3 class="story-title">Kwentong Bayan</h3>
    <p class="story-description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ipsa unde at
      natus cupiditate quo accusamus nihil perspiciatis omnis deleniti,
      voluptate aperiam cumque impedit tenetur! Sed dolorem doloremque vitae
      praesentium.
    </p>

    <a href="" class="story-readmore">Read More</a>
  </div>
</div>
<div class="col-md-4 mb-4">
  <div class="story-card">
    <img
      src="{% static 'images/main.jpg' %}"
      alt=""
      class="img-fluid story-img"
    />
    <h3 class="story-title">story title</h3>
    <p class="story-description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ipsa unde at
      natus cupiditate quo accusamus nihil perspiciatis omnis deleniti,
      voluptate aperiam cumque impedit tenetur! Sed dolorem doloremque vitae
      praesentium.
    </p>

    <a href="" class="story-readmore">Read More</a>
  </div>
</div>
