{% load static %}
<div class="card card-custom mb-3 mt-3">
    <div class="alumni-slider m-3">
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img src={% static 'images/grad.jpg' %} alt="...">
                  <div class="carousel-caption">
                    <H1>THESIS DEFENSE</H1> 
                    <p>We are hopeful that our group will successfully pass the thesis defense for Design Project 2. After months of hard work and research, we look forward to the committee's feedback and are excited about the next steps. Thank you to everyone who has supported us along the way.</p>
                    <div class="row caption-content">
                        <div class="col-md-2">
                            <p><span><i class="fa-regular fa-calendar"></i></span> January 28, 2025</p>
                        </div>
                        <div class="col-md-2">
                            <p><span><i class="fa-solid fa-clock"></i></span> 1:00 PM</p>
                        </div>
                        <div class="col-md-2">
                            <p><span><i class="fa-solid fa-location-dot"></i></span> CEA ROOM 300</p>
                        </div>
                    </div>
                </div>
              </li>
              <li class="splide__slide">
                <img src={% static 'images/main.jpg' %} alt="...">
              </li>
              <li class="splide__slide">
                <img src={% static 'images/lagoon.jpg' %} alt="...">
              </li>
              <li class="splide__slide">
                <img src={% static 'images/main.jpg' %} alt="...">
              </li>
              <li class="splide__slide">
                <img src={% static 'images/lagoon.jpg' %} alt="...">
              </li>
              <li class="splide__slide">
                <img src={% static 'images/main.jpg' %} alt="...">
              </li>
              <li class="splide__slide">
                <img src={% static 'images/lagoon.jpg' %} alt="...">
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>

<script src={% static 'js/related_alumni_slider_init.js' %}></script>