{% load static %}

<div class="side-bar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white m-0 m-md-3">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 text-white min-vh-100">

        <div class="user-info row text-center sidebar-text">
            <image src="{{ profile_image }}" class="img-fluid rounded-circle" alt="PUP Logo">
            <h1 class="h5 mt-3 p-2 bg-light"> {{first_name}} {{last_name}}</h1>
        </div>

        <div class="nav flex-column nav-pills w-100 mt-3 gap-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="sidebar-text {% if active_page == 'dashboard' %}active{% endif %}" href="/myaccount"><i class="fa-solid fa-house"></i> HOME </a>
            <a class="sidebar-text {% if active_page == 'edit' %}active{% endif %}" href="/myaccount/edit"><i class="fa-solid fa-pen-to-square"></i> EDIT PROFILE </a>
            <a class="sidebar-text {% if active_page == 'saved_events' %}active{% endif %}" href="/myaccount/saved_events" ><i class="fa-solid fa-calendar-days"></i> SAVED EVENTS </a>
            <a class="sidebar-text {% if active_page == 'saved_jobs' %}active{% endif %}"  href="/myaccount/saved_jobs" ><i class="fa-solid fa-briefcase"></i> SAVED JOBS </a>
            <a class="sidebar-text {% if active_page == 'user_stories' %}active{% endif %}" href="/myaccount/user_stories"><i class="fa-solid fa-book-open-reader"></i> MY STORY </a>
            <a class="sidebar-text {% if active_page == 'user_donation' %}active{% endif %}" href="/myaccount/user_donation"><i class="fa-solid fa-hand-holding-heart"></i> DONATION </a>
            <a class="sidebar-text" href="/myaccount/logout">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>

    </div>
</div>
