<div class="top-spacer mt-4">
    <div class="top-nav nav flex-row nav-pills gap-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="sidebar-text" href="/myaccount"><i class="fa-solid fa-house"></i></a>
        <a class="sidebar-text" href="/myaccount/edit"><i class="fa-solid fa-pen-to-square"></i></a>
        <a class="sidebar-text" href="/myaccount/saved_events" ><i class="fa-solid fa-calendar-days"></i></a>
        <a class="sidebar-text" href="/myaccount/saved_jobs" ><i class="fa-solid fa-briefcase"></i></a>
        <a class="sidebar-text" href="/myaccount/user_stories"><i class="fa-solid fa-book-open-reader"></i></a>
        <a class="sidebar-text" href="/myaccount/user_donation"><i class="fa-solid fa-hand-holding-heart"></i></a>
        <a class="sidebar-text" href="/myaccount/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>