{% extends "faculty_page_layout.html" %}
{% load static %}

{% block title %}Faculty Dashboard{% endblock %}

{% block content %}

{% include 'components/faculty_topnav.html' %}
<style nonce="{{ request.csp_nonce }}">
    
</style>
<div class="container-fluid">
    <div class="row flex-nowrap">
        
        {% include "components/faculty_sidebar.html" %}
        {% include 'components/delete_modal.html' %}

        <div class="bg-light col mb-3 px-0 m-2 mt-3">

            <div class="greeting-bar">
                Officials Management
            </div>

            <div class="bg-light p-3 min-vh-100 d-flex flex-column">
                <!-- start of content -->
                <form id="officials-form">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <!-- ARCDO Officials -->
                            <div class="col-md-6">
                                <h5 class="official-title">ARCDO OFFICIALS</h5>

                                <div class="official-card">
                                    <div class="official-position-label">Director</div>
                                    <div class="official-form-section d-flex flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="director_name" value="{{ officials.director.name }}">

                                            <div class="official-file-info">
                                                {{ forms.director.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.director.photo.url }}" alt="ARCDO Director Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Chief, Career Development & Placement Services</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="chief_career_development_placement_services_name" value="{{ officials.chief_career_development_placement_services.name }}">

                                            <div class="official-file-info">
                                                {{ forms.chief_career_development_placement_services.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.chief_career_development_placement_services.photo.url }}" alt="Chief Career Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Chief, Alumni Relations Services</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="chief_alumni_relations_services_name" value="{{ officials.chief_alumni_relations_services.name }}">

                                            <div class="official-file-info">
                                                {{ forms.chief_alumni_relations_services.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.chief_alumni_relations_services.photo.url }}" alt="Chief Alumni Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Repeating Admin Staff -->
                                 <div class="official-card">
                                    <div class="official-position-label">Admin Staff</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="admin_staff_1_name" value="{{ officials.admin_staff_1.name }}">

                                            <div class="official-file-info">
                                               {{ forms.admin_staff_1.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.admin_staff_1.photo.url }}" alt="Admin Staff Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Admin Staff</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="admin_staff_2_name" value="{{ officials.admin_staff_2.name }}">

                                            <div class="official-file-info">
                                               {{ forms.admin_staff_2.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.admin_staff_2.photo.url }}" alt="Admin Staff Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Admin Staff</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="admin_staff_3_name" value="{{ officials.admin_staff_3.name }}">

                                            <div class="official-file-info">
                                               {{ forms.admin_staff_3.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.admin_staff_3.photo.url }}" alt="Admin Staff Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Admin Staff</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="admin_staff_4_name" value="{{ officials.admin_staff_4.name }}">

                                            <div class="official-file-info">
                                               {{ forms.admin_staff_4.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.admin_staff_4.photo.url }}" alt="Admin Staff Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Executive Officials -->
                            <div class="col-md-6">
                                <h5 class="official-title">EXECUTIVE OFFICIALS</h5>

                                <div class="official-card">
                                    <div class="official-position-label">President</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="president_name" value="{{ officials.president.name }}">

                                            <div class="official-file-info">
                                                {{ forms.president.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.president.photo.url }}" alt="President Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Executive Vice President</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="executive_vice_president_name" value="{{ officials.executive_vice_president.name }}">

                                            <div class="official-file-info">
                                                {{ forms.executive_vice_president.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.executive_vice_president.photo.url }}" alt="Executive Vice President Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Vice President for Academic Affairs</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="vice_president_for_academic_affairs_name" value="{{ officials.vice_president_for_academic_affairs.name }}">

                                            <div class="official-file-info">
                                                {{ forms.vice_president_for_academic_affairs.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.vice_president_for_academic_affairs.photo.url }}" alt="Vice President for Academic Affairs Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Vice President for Student Affairs & Services</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="vice_president_for_student_affairs_services_name" value="{{ officials.vice_president_for_student_affairs_services.name }}">

                                            <div class="official-file-info">
                                                {{ forms.vice_president_for_student_affairs_services.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.vice_president_for_student_affairs_services.photo.url }}" alt="Vice President for Student Affairs & Services Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Vice President for Research, Extension, & Dev't</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="vice_president_for_research_extension_devt_name" value="{{ officials.vice_president_for_research_extension_devt.name }}">

                                            <div class="official-file-info">
                                                {{ forms.vice_president_for_research_extension_devt.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.vice_president_for_research_extension_devt.photo.url }}" alt="Vice President for Research, Extension, & Dev't Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Vice President for Branches & Campuses</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="vice_president_for_branches_campuses_name" value="{{ officials.vice_president_for_branches_campuses.name }}">

                                            <div class="official-file-info">
                                                {{ forms.vice_president_for_branches_campuses.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.vice_president_for_branches_campuses.photo.url }}" alt="Vice President for Branches & Campuses Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Vice President for Administration</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="vice_president_for_administration_name" value="{{ officials.vice_president_for_administration.name }}">

                                            <div class="official-file-info">
                                                {{ forms.vice_president_for_administration.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.vice_president_for_administration.photo.url }}" alt="Vice President for Administration Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="official-card">
                                    <div class="official-position-label">Vice President for Finance</div>
                                    <div class="official-form-section flex-wrap flex-md-nowrap">
                                        <div class="official-form-left">
                                            <input type="text" class="form-control mb-2" name="vice_president_for_finance_name" value="{{ officials.vice_president_for_finance.name }}">

                                            <div class="official-file-info">
                                                {{ forms.vice_president_for_finance.photo }}
                                            </div>
                                        </div>
                                        <div class="official-form-right">
                                            <div class="official-image-container">
                                                 <img src="{{ officials.vice_president_for_finance.photo.url }}" alt="Vice President for Finance Photo" class="official-photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                    <div class="text-end mt-4 center-spinner">
                        <button id="form-submit" type="submit" class="submit-btn me-3"><span id="btn-spinner" class="spinner d-none"></span>SAVE</button>
                    </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
    <!-- Toast template will be added dynamically -->
</div>

<script nonce="{{ request.csp_nonce }}" src="{% static 'js/officials_handler.js' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'js/onerror-img.js' %}"></script>
{% endblock %}