{% extends "faculty_page_layout.html" %}
{% load static %}

{% block title %}Faculty Dashboard{% endblock %}

{% block content %}
{% include 'components/faculty_topnav.html' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        
        {% include "components/faculty_sidebar.html" %}
        {% include 'components/delete_modal.html' %}

        <div class="bg-light col mb-3 px-0 m-2 mt-3">

            <div class="greeting-bar">
                System Settings
            </div>

            <div class="bg-light p-3 min-vh-100 d-flex flex-column">
                <!-- start of content -->
                 <div class="container settings mt-2">
                    <form>
                        <!-- social media links -->
                         <div class="settings-form-section">
                            <h5 class="settings-title mb-4">SOCIAL MEDIA LINKS</h5>
                            <div class="mb-3">
                                <label class="form-label">Facebook</label>
                                <input type="url" class="form-control" name="facebook_link" value="{{ settings.facebook_link }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Instagram</label>
                                <input type="url" class="form-control" name="instagram_link" value="{{ settings.instagram_link }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">X(Twitter)</label>
                                <input type="url" class="form-control" name="x_link" value="{{ settings.x_link }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">LinkedIn</label>
                                <input type="url" class="form-control" name="linked_in_link" value="{{ settings.linked_in_link }}">
                            </div>
                        </div>

                        <!-- ARCDO Contact Details -->
                         <div class="settings-form-section">
                            <h5 class="settings-title mb-4">CONTACT DETAILS</h5>
                            <div class="mb-3">
                                <label class="form-label">ARCDO Address Line 1</label>
                                <input type="text" class="form-control" name="arcdo_address_line1" value="{{ settings.arcdo_address_line1 }}">
                            </div>
                                <div class="mb-3">
                                <label class="form-label">ARCDO Address Line 2</label>
                                <input type="text" class="form-control" name="arcdo_address_line2" value="{{ settings.arcdo_address_line2 }}">
                            </div>
                                <div class="mb-3">
                                <label class="form-label">ARCDO Address Line 3</label>
                                <input type="text" class="form-control" name="arcdo_address_line3" value="{{ settings.arcdo_address_line3 }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Contact Number 1</label>
                                <input type="text" class="form-control" name="phone_number_1" value="{{ settings.phone_number_1 }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Contact Number 2</label>
                                <input type="text" class="form-control" name="phone_number_2" value="{{ settings.phone_number_2 }}">
                            </div>
                                <div class="mb-3">
                                <label class="form-label">Contact Number 2</label>
                                <input type="text" class="form-control" name="phone_number_3" value="{{ settings.phone_number_3 }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">ARCDO Email</label>
                                <input type="email" class="form-control" name="arcdo_email" value="{{ settings.arcdo_email }}">
                            </div>
                        </div>
                        
                        <!-- Bank Details -->
                         <div class="settings-form-section">
                            <h5 class="settings-title mb-4">CONTACT DETAILS</h5>
                            <div class="row g-3 mb-3">
                                <div class="col-md-6">
                                    <label class="form-label">BANK #1 - Account Number</label>
                                    <input type="text" class="form-control" name="bank1_account_number" value="{{ settings.bank1_account_number }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">BANK #1 - Account Name</label>
                                    <input type="text" class="form-control" name="bank1_account_name" value="{{ settings.bank1_account_name }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">BANK #2 - Account Number</label>
                                    <input type="text" class="form-control" name="bank2_account_number" value="{{ settings.bank2_account_number }}">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">BANK #2 - Account Name</label>
                                    <input type="text" class="form-control" name="bank2_account_name" value="{{ settings.bank2_account_name }}">
                                </div>
                            </div>

                            <!-- File Uploads -->
                            <div class="file-upload row">
                                <!-- GCASH QR Upload -->
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">GCASH QR</label>
                                    <input type="file" class="form-control" name="gcash_qr">
                                    {% if settings.gcash_qr %}
                                        <img src="{{ settings.gcash_qr.url }}" alt="GCASH QR" class="img-thumbnail mt-2" style="width: 100px;">
                                    {% endif %}
                                </div>

                                <!-- MAYA QR Upload -->
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">MAYA QR</label>
                                    <input type="file" class="form-control" name="maya_qr">
                                    {% if settings.maya_qr %}
                                        <img src="{{ settings.maya_qr.url }}" alt="MAYA QR" class="img-thumbnail mt-2" style="width: 100px;">
                                    {% endif %}
                                </div>

                                <!-- PAYPAL QR Upload -->
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">PAYPAL QR</label>
                                    <input type="file" class="form-control" name="paypal_qr">
                                    {% if settings.paypal_qr %}
                                        <img src="{{ settings.paypal_qr.url }}" alt="PAYPAL QR" class="img-thumbnail mt-2" style="width: 100px;">
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                         <div class="text-start mt-4">
                            <button type="submit" class="submit-btn">Save</button>
                            <button type="reset" class="cancel-btn">Discard</button>
                        </div>
                    </form>
                 </div>
                 <!-- end of content -->
            </div>

        </div>
    </div>
</div>

{% endblock %}