{% load static %}

<div class="announcement">

    <h1 class="body-title">ANNOUNCEMENTS</h1>

    <div class="container">
    
    <div class="featured">
    <div class="card text-bg-dark">
        <img src={% static "images/pup-image.webp" %} class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{ featured_article.title }}</h5>
          <p class="card-text-featured">{{ featured_article.body|truncatewords:70 }}</p>
          <p class="card-text-mobile">{{ featured_article.body|truncatewords:15 }}</p>
          <a href="{% url 'articles:article_page' slug=featured_article.slug %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="articles">
      <div class="row row-cols-1 row-cols-md-2 g-4">

        
        {% for article in news_articles %}
        <div class="col">
          <div class="card">
            {% if article.banner %}
                <img src="{{ article.banner.url }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'images/pup-image-2.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">{{ article.body|truncatewords:30 }}</p>
              <a href="{% url 'articles:article_page' slug=article.slug %}" class="card-link">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="btn-container">
        <button type="button" class="btn btn-ann" onClick = window.location.href='/news' >View All Announcement <i class="fa-solid fa-arrow-right"></i></button>
    </div>

    </div>
</div>