{% load static %}

<div class="events">
    <div class="container">
        <h1 class="body-title">EVENTS</h1>
            <div class="row event">
                {% for event in events_articles %}
                <div class="card">
                    {% if event.banner %}
                    <img src="{{ event.banner.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{% static 'images/pup-image-2.jpg' %}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ event.title }}</p>
                        <p class="card-text">{{ event.body|truncatewords:30 }}</p>
                        <a href="{% url 'events:event_page' slug=event.slug %}" class="card-link">Read More</a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
