{% load static %}

<div class="hero">
  <img class="hero-bg" src="{% static 'images/bg.jpg' %}" alt="Hero Background" />
  
  <div class="hero-content">
    <div class="hero-text">
      <p class="subtitle">WELCOME TO THE</p>
      <h1 class="title">ALUMNI PORTAL</h1>
      <p class="description">
        Stay connected with the PUP community — join the Alumni Association for event updates, networking, and more.
      </p>
      <a href="/signup" class="btn">SIGN-UP NOW</a>
    </div>
    <div class="hero-image-right">
      <img src="{% static 'images/Ellipse 5.png' %}" alt="Alumni Illustration" />
    </div>
  </div>
</div>


  <script nonce="{{ request.csp_nonce }}" src={% static 'js/initialize-hero-swiper.js' %}></script>