<div class="socials">
    
    <div class="container social-container">
        <p class="body-text">Follow us on our social media accounts to get the latest updates from our team.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/pupwebteam" target="_blank" class="social-icon">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/pupwebteam" target="_blank" class="social-icon">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.twitter.com/pupwebteam" target="_blank" class="social-icon">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/pupwebteam" target="_blank" class="social-icon">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>