{% extends "layout.html" %}


{% load static %}

{% block title %}
    {{ school_abv }} Alumni Portal | News
{% endblock %}

{% block content %}
    <div class="container">

        {% include "components/featured_article.html" %}
        <div class="top-spacer mb-5">
            <div class="container d-flex align-items-center">
                <h2><span>NEWS</span> & <span>ANNOUNCEMENTS</span></h2>
            </div>
        </div>

        <div class="row news-filter mt-3 mb-3">
            <div class="col-auto">
                <label for="article-filter" class="col-form-label">Filter News</label>

                <select id="article-filter" class="form-select" aria-label="News filter">
                    <option value="all" selected>All Articles</option>
                    <option value="news">News</option>
                    <option value="Ann">Announcements</option>
                </select>
            </div>

            <div class="col-auto">
                <label for="month-filter" class="col-form-label">Month</label>

                <select id="month-filter" class="form-select" aria-label="Month select example">
                    {% for month in months %}
                        <option value="{{ month.value }}" {% if month.value == 0 %}selected{% endif %}>{{ month.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto">
                <label for="year-filter" class="col-form-label">Year</label>

                <select id="year-filter" class="form-select" aria-label="Year select">
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row article-cards" id="article-cards-container">
            {% include 'components/article_card.html' %}
        </div>

        <div class="pagination-controls d-flex justify-content-center mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>



    </div>

    <script nonce="{{ request.csp_nonce }}" src="{% static 'js/filter_article.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}" src="{% static 'js/pagination.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}" src="{% static 'js/onerror-img.js' %}"></script>

{% endblock %}