{% extends "edits_layout.html" %}
{% load static %}
{% block title %}Alumni Profile{% endblock %}

{% block content %}
<div class="title-bar mb-3">
    <a href="/faculty/alumni-management"><i class="fa-solid fa-arrow-left"></i></a>
    <h3 class="text-center">Alumni Profile</h3>
</div>

<div class="container mt-4">
    <!-- Basic Information Profile -->
    <div class="profile-section">
      <h5 class="mb-3">Basic Information Profile</h5>
      <div class="row">
        <div class="col-md-3">
          <div class="profile-label">Last Name</div>
          <div class="profile-value">{{ alumni.last_name }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">First Name</div>
          <div class="profile-value">{{ alumni.first_name }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">Middle Name</div>
          <div class="profile-value">{{ alumni.middle_name }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">Birthday</div>
          <div class="profile-value">{{ alumni.birthday }}</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="profile-label">Address</div>
          <div class="profile-value">{{ alumni.address }}</div>
        </div>
        <div class="col-md-6">
          <div class="profile-label">Email Address</div>
          <div class="profile-value">{{ alumni.email }}</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <div class="profile-label">Telephone Number</div>
          <div class="profile-value">{{ alumni.telephone }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">Mobile Number</div>
          <div class="profile-value">{{ alumni.mobile }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">Civil Status</div>
          <div class="profile-value">{{ alumni.civil_status }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">Sex</div>
          <div class="profile-value">{{ alumni.sex }}</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <div class="profile-label">Course</div>
          <div class="profile-value">{{ alumni.course.course_code }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">Section</div>
          <div class="profile-value">{{ alumni.section.section_code }}</div>
        </div>
        <div class="col-md-3">
          <div class="profile-label">School Year (Graduated) </div>
          <div class="profile-value">{{ alumni.school_year }}</div>
        </div>
      </div>

    </div>

    <div class="divider"></div>

    <!-- Education Profile -->
    <div class="profile-section">
      <h5 class="mb-3">Education Profile</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="profile-label">College where you Graduated</div>
          <div class="profile-value">Bachelor of Science in Computer Engineering</div>
        </div>
        <div class="col-md-6">
          <div class="profile-label">Year Graduated</div>
          <div class="profile-value">2025</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="profile-label">License or Certificate Name</div>
          <div class="profile-value">License or Certificate Name</div>
        </div>
        <div class="col-md-4">
          <div class="profile-label">Organization Name</div>
          <div class="profile-value">Organization Name</div>
        </div>
        <div class="col-md-4">
          <div class="profile-label">Issue Date</div>
          <div class="profile-value">2025</div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- Work Experience -->
    <div class="profile-section">
      <h5 class="mb-3">Work Experience</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="profile-label">Company Name</div>
          <div class="profile-value">Tech Solutions Inc.</div>
        </div>
        <div class="col-md-6">
          <div class="profile-label">Job Title</div>
          <div class="profile-value">Software Developer</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="profile-label">Start Date</div>
          <div class="profile-value">January 2022</div>
        </div>
        <div class="col-md-6">
          <div class="profile-label">End Date</div>
          <div class="profile-value">Present</div>
        </div>
      </div>
    </div>
{% endblock %}