{% extends "faculty_page_layout.html" %}
{% load static %}

{% block title %}Alumni Management{% endblock %}

{% block content %}
{% include 'components/faculty_topnav.html' %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        
        {% include "components/faculty_sidebar.html" %}

        <div class="bg-light col mb-3 mt-10">

            <div class="greeting-bar mt-3">
                Alumni Management
            </div>

            <div class="bg-light p-3 min-vh-100 d-flex flex-column">
                <!-- start of content -->
                <div class="container-fluid p-4">
                    <h4 class="fw-bold title-text">ALUMNI LIST</h4>
                    <div class="d-flex flex-column gap-2">
                        <div class="search-container">
                            <input type="text" class="form-control search-bar" placeholder="Search">
                            <i class="fa-regular fa-bell fs-4"></i>
                            <a href="/faculty/alumni-add" class="add-alumni-btn ">ADD NEW ALUMNI</a>
                        </div>
                    </div>
                    <div class="table-responsive mt-3 ">
                        <table class="table table-bordered align-middle table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-center">Active</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Course</th>
                                    <th>Date Created</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of content -->
            </div>
            <div class="pagination-controls d-flex justify-content-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>




<script src="{% static 'js/get_alumni.js' %}"></script>
<script src="{% static 'js/faculty_pagination.js' %}"></script>


{% endblock %}
