{% extends "faculty_page_layout.html" %}

{% load static %}


{% block title %}
    {{ school_abv }} Alumni Website | {{ article.title }}
{% endblock %}

{% block content %}

<div class="container">
    
    <div class="row justify-content-center">
        <!-- Main content -->
        <div class="">

            <a href="/faculty/articles-management" class="btn btn-secondary my-3">Back</a>
                    
            <article class="view-content py-3">
                
                {% load custom_filters %}
                {% if article.banner %}
                    <img src="{{ article.banner.url }}" alt="Banner for {{ article.title }}">
                {% else %}
                    <img src="{% static 'images/default_image.png' %}" alt="Default banner">
                {% endif %}
            
                <h1>{{ article.title }}</h1>
                <p>Published on: {{ article.date }}</p>

            <div class="more-info">
                <pre>{{ article.body }}</pre> 

                {% for item in content_order %}
                    {% if item.type == 'subtitle' %}
                        <h1>{{ item.object.subtitle }}</h1>

                    {% elif item.type == 'bodytext' %}
                        {% with
                        "fs-"|add:item.object.fontsize|stringformat:"s" as size_class
                        "fw-bold" if item.object.bold else "" as bold_class
                        "fst-italic" if item.object.italic else "" as italic_class
                        %}
                            {% if item.object.quoted %}
                                <pre class="text-center px-5 {{ size_class }} {{ bold_class }} {{ italic_class }}">
                                    <q>{{ item.object.bodytext }}</q>
                                </pre>
                            {% else %}
                                <pre class="{{ size_class }} {{ bold_class }} {{ italic_class }}">
                                    {{ item.object.bodytext }}
                                </pre>
                            {% endif %}
                        {% endwith %}
                    {% elif item.type == 'bodyimage' %}
                        <figure class="text-center">
                            <div class="d-flex justify-content-center">
                                {% if item.object.image %}
                                    <img src="{{ item.object.image.url }}" alt="{{ item.object.alt }}">
                                {% else %}
                                    <img src="{% static 'images/default_image.png' %}" alt="Default image">
                                {% endif %}
                            </div>
                            <figcaption class="fw-light fst-italic">{{ item.object.caption }}</figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>

                
                
            </article>
        </div>
</div>

<script nonce="{{ request.csp_nonce }}" src="{% static 'js/onerror-img.js' %}"></script>

{% endblock %}
