{% extends "faculty_page_layout.html" %}
{% load static %}

{% block title %}Story Management{% endblock %}

{% block content %}

{% csrf_token %}

{% include 'components/faculty_topnav.html' %}
{% include 'components/delete_modal.html' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        
        {% include "components/faculty_sidebar.html" %}

        <div class="bg-light col mb-3 px-0 m-2 mt-3">

            <div class="greeting-bar">
                Story Management
            </div>

            <div class="bg-light p-3 min-vh-100 d-flex flex-column">
                <!-- start of content -->
                <div class="container-fluid p-4">
                    
                    
                    <div class="d-flex justify-content-between align-items-center mb-3 search-container">
                        <h4 class="fw-bold title-text mb-0">LIST OF STORIES</h4>
                        <input type="text" id="search-input" name="q" class="form-control search-bar" placeholder="Search Event..." value="{{ request.GET.q }}">
                        <button id="search-button" class="add-alumni-btn">SEARCH</button>
                    </div>
                    


                    <div class="table-responsive mt-3 ">
                        <table class="table table-bordered align-middle table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th>Story Title</th>
                                    <th>User Email</th>
                                    <th>Date Created</th>
                                    <th>Actions</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of content -->
            </div>

            <div class="pagination-controls d-flex justify-content-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
<script src="{% static 'js/get_story.js'%}"></script>
<script src="{% static 'js/faculty_pagination.js' %}"></script>
<script src="{% static 'js/delete_handler.js' %}"></script>
</div>



{% endblock %}
