{% extends "layout.html" %}

{% load static %}

{% block title %}PUP Alumni Website | Alumni Stories{% endblock %}

{% block content %}
<div class="story">
    <div class="top-spacer mb-5">
        <div class="container d-flex align-items-center">
            <h2> <span>ALUMNI SUCCESS STORIES</span>
            </h2>
            
        </div>
    </div>

    <div class="container">
        <p class="text-center">Welcome to the Alumni Stories section, where we celebrate the journeys of our graduates.</p>
        <p class="text-center">Here, you can read inspiring stories from alumni who have made significant contributions in their fields and communities.</p>
    </div>

    <div class="stories-list">
        <div class="container">
            <div class="row story-cards" id="story-cards-container">
                
                
            </div>
        </div>
    </div>

    <div class="pagination-controls d-flex justify-content-center mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="pagination">
            </ul>
        </nav>
    </div>
</div>

<script nonce="{{ request.csp_nonce }}" src="{% static 'js/pagination.js' %}"></script>
<script nonce="{{ request.csp_nonce }}" src="{% static 'js/filter_story.js' %}"></script>
{% endblock %}

