{% extends "layout.html" %}
{% load static %}
{% block title %}
    PUP Alumni Portal | {{ story.title }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="story-content my-3">
            <a href="javascript:history.back()" class="btn btn-secondary my-3">Back</a>
            <article class="py-3">
                
                {% if event.banner %}
                    <img src="{{ story.banner.url }}" alt="Banner for {{ story.title }}">
                {% else %}
                    <img src="{% static 'images/default_image.png' %}" alt="Default banner">
                {% endif %}
                
                <h1>{{ story.title }}</h1>
                <p>{{ story.created_at }}</p>
                <pre>
                    {{ story.body }}
                </pre>
                
            </article>
        </div>
    </div>
</div>



{% endblock %}
