{% extends "layout.html" %}

{% load static %}

{% block title %}PUP Alumni Website | About Us{% endblock %}

{% block content %}

<div class="about">

<div class="top-spacer mb-5">
    <div class="container d-flex align-items-center"> <!-- Use a height that suits your design -->
        <h2>ABOUT <span>ARCDO</span></h2>
    </div>
</div>

<div class="title my-5 text-center">
    <div class="container">
        <h2>ALUMNI RELATIONS AND CAREER DEVELOPMENT OFFICE</h2>
        <div class="underline"></div>
    </div> 
</div>

<div class="main-content">
    <div class="container">
        <div class="row gap-5">

            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <img src="{% static 'images/arcdologo.jpg' %}" alt="ARCDO Logo" class="arcdo-img img-thumbnail">
            </div>

            <div class="col-md-8 d-flex align-items-center">
                <p>We are the driving force behind the PUP Career Development and Placement Office, dedicated to connecting students and graduates with meaningful employment opportunities. Our mission is to cultivate globally competitive professionals who embody excellence, integrity, and a commitment to making a positive impact in their fields and communities.</p>
            </div>
        </div>
    </div> 
</div>

<div class="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <h2>OUR MISSION</h2>
            </div>

            <div class="col-md-8 d-flex align-items-center">
                <p>The PUP Career Development and Placement Office envisions itself as a borderless work pool providing students and graduates employment in reputable companies, institutions, and other entities. It is also a training ground that will develop globally competitive graduates who are ready to face the challenges of the new millennium.</p>
            </div>
        </div>
    </div> 
</div>

<div class="vision">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <h2>OUR VISION</h2>
            </div>

            <div class="col-md-8 d-flex align-items-center">
                <p>The PUP Career Development and Placement Office envisions a future where all graduates and working students are globally competitive professionals who embody excellence, integrity, and a commitment to making a positive impact in their fields and communities.</p>
            </div>
        </div>
    </div> 
</div>

<div class="functions">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h2>OUR FUNCTIONS</h2>
            </div>

            <div class="col-md-12 d-flex align-items-center">
                <ul>
                    <li>To formulate a Manual of Operations for the Office and eventually implement its guidelines, rules, and regulations</li>
                    <li>To coordinate with various companies for possible positions for PUP graduates and alumni</li>
                    <li>To disseminate the recruitment needs of companies by posting ads within the university premises</li>
                    <li>To facilitate the processing of the companies staffing requirements by providing them the list of graduates</li>
                    <li>To establish linkages with more multinational companies, government agencies, non-government organizations, and international agencies for possible job offers</li>
                    <li>To prepare referral letters for the graduates and alumni of the University</li>
                    <li>To conduct pre-employment seminars and career orientation activities for the graduating students</li>
                    <li>To coordinate with the Communications Management Office for updates in the Career Development and Placement Services Website</li>
                    <li>To coordinate with agencies, companies, institutions, and organizations for possible sponsorship of University activities</li>
                    <li>To prepare and send communications pertinent to the functions of the Office to all concerned colleges, offices, and companies</li>
                    <li>To reply to queries of walk-ins and telephone calls</li>
                    <li>To conduct job fairs for the graduates and alumni of the University</li>
                    <li>To coordinate with the Admission Services and Guidance, Counseling and Testing Services in the conduct of the Freshmen Orientation at the beginning of each academic year</li>
                    <li>To invite companies to subscribe to the Career Development and Placement Services website</li>
                    <li>To coordinate with the different colleges regarding recruitment and placement requirements</li>
                    <li>To monitor the career plans of graduates and alumni and assist them in their employment needs</li>
                    <li>To attend meetings, seminars, workshops, conventions for updates on recent recruitment, staffing and employment principles, techniques and issues and concerns related to such matters</li>
                    <li>To perform other functions as necessary in achieving the noble goals of the University</li>
                </ul>
            </div>
        </div>
    </div> 
</div>

<div class="values">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <h2>CORE VALUES</h2>
            </div>

            <div class="col-md-8 d-flex align-items-center">
                <p>The Alumni Relations and Career Development Offices staff and personnel pledge and serve the clientele with utmost responsibility and integrity, passion and loyalty, efficiency and teamwork</p>
            </div>
        </div>
    </div> 
</div>

</div>

{% include "components/org_chart.html" %}

<div class="org-heading text-center mb-5">
    <div class="container">
        <h2 class="text-center">OUR LOCATION</h2>
        <div class="underline"></div>
    </div> 
</div>

{% include "components/map.html" %}

{% include "components/socials.html" %}

{% endblock %}

