 {% load static %}

<footer class="container-fluid" id="footer">
    <div class="row">

        <div class="col-md-6 info">

            <h3>Address</h3>

            <div class="row">

            <img src="{% static "images/icons/map-pin.svg" %}" alt="location">
            
            <div class="col">
            <p><strong>Alumni Relations and Career Development Office</strong></p>
            <p>{{ settings.arcdo_address_line1 }}</p>
            <p>{{ settings.arcdo_address_line2 }}</p>
            <p>{{ settings.arcdo_address_line3 }}</p>
            </div>
            </div>

            <h3>Phone Number</h3>
            <div class="row">
            <img src="{% static "images/icons/phone.svg" %}" alt="phone">
            <div class="col">
            <p>{{ settings.phone_number_1 }}, {{ settings.phone_number_2 }} or {{ settings.phone_number_3 }}</p>
            </div>
            </div>

            <h3>E-mail Address</h3>
            <div class="row">
            <img src="{% static "images/icons/envelope.svg" %}" alt="mail">
            <div class="col">
            <p>{{ settings.arcdo_email }}</p>
            </div>
            </div>

        </div>

        <div class="col-md-6 sec-2">
            <h3>HOW CAN WE ASSIST</h3>
            <p>We are here to address any questions you may have about the Alumni Relations and Career Development Office.
                Please contact us and we will get back to you as soon as possible.</p>

                <form id="contactForm" method="POST">
                {% csrf_token %}

                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="name" name="name" type="text" class="form-control" placeholder="Name (LN, FN, MI.)" >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="emailaddress" name="emailaddress" type="emailaddress" class="form-control" placeholder="E-mail Address" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="year" name="year" type="text" class="form-control" placeholder="Year of Graduation">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="program" name="program" type="text" class="form-control" placeholder="Course/Program">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="message" name="message" class="form-control" placeholder="Compose Message..." required></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            {{ form.captcha }}
                        </div>   
                    </div>

                    <div class="col-md-12">
                        <button type="submit" name="submit" class="btn btn-lg">
                            <img src="{% static "images/icons/envelope.svg" %}" alt="mail">  Send message
                        </button>
                    </div>
                </div>
                </form>
        </div>

        <div class="copyrigths">
            <p>&copy; 2024 Polytechnic University of the Philippines</p>
            <p>Alumni Relations and Career Development</p>
        </div>

    </div>
</footer>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
    <!-- Toast template will be added dynamically -->
</div>

<script src="{% static 'js/footer_email_handler.js' %}"></script>


