:root{
    --pupred: #800000;
}
/* Sidebar*/
.nav-pills .sidebar-text {
    padding: 10px;
    text-transform: uppercase;
}
.nav-pills .sidebar-text.active {
    background-color: #FEAF00;
    color: #600;
}

@media (max-width: 768px) {
    .nav-pills {
        flex-direction: row;
        overflow-x: auto;
    }
}

.user-info img {
    width: 180px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
.sidebar-title{
    color: #343a40;
    font-size: 1.5em;
    font-weight: bold;
    border-left: solid 8px var(--pupred);
    border-right: solid 8px var(--pupred);
    border-radius: 0 10px 0 10px;
    padding-left: 3px;
    margin:5px;
    font-family: inherit;
    letter-spacing: .15rem;
}
.sidebar-text {
    color: var(--pupred);
    text-decoration: none;
}

.side-bar a {
    margin: 7px;
}

.side-bar i {
    margin-right: 10px;
}

@media screen and (max-width: 576px) {
    .side-bar {
        display: none;
    }   
    
}
.top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .top-nav{
     display: none !important;
    }   
}

/* Greeting Bar */
.greeting-bar {
    background-color: #600;
    color: white;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
}

/* Card Styles */
.card-custom {
    background-color: #600;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.card-custom a{
    text-decoration: none;
    color: #fff;
}
.card-custom:hover {
    transform: scale(1.05);
}
.icon {
    font-size: 30px;
    margin-bottom: 10px;
}

/* Alumni management css */
.title-text{
    color:#600;
}
.table th, .table td {
    vertical-align: middle;
    border: none;
}
.alumni-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--pupred);
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-icons a {
    margin-right: 10px;
    color: var(--pupred);
}
.search-bar {
    max-width: 200px;
    margin-right: 10px;
}
.add-alumni-btn{
    margin-left:10px;
    background-color: var(--pupred);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.alumni-btn-green { /* Alumni button for import and export*/
    background-color: #198754;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status-indicator.active {
    background-color: green; /* Active status color */
}

.status-indicator.inactive {
    background-color: red; /* Inactive status color */
}
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }
    .search-bar {
        width: 100%;
    }
    .header-buttons {
        flex-direction: column;
        align-items: stretch;
    }
    .add-alumni-btn, .alumni-btn-green {
        width: 100%;
        margin-left: 0;
    }
    .table thead {
        display: none;
    }
    .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
        border: 1px solid #dee2e6;
        padding: 10px;
    }
    /* .table td { //old design
        text-align: right;
        padding-left: 50%;
        position: relative;
        white-space: normal; 
        word-wrap: break-word;
    } */
    .table td {
        text-align: left; /* Align text to the left */
        padding-left: 10px; /* Adjust padding */
        position: relative;
        white-space: normal; /* Allow text wrapping */
        word-wrap: break-word; /* Break long words */
    }
    .table td::before {
        content: attr(data-label);
        display: block; /* Display label as block element */
        font-weight: bold;
        margin-bottom: 5px; /* Add space between label and value */
        white-space: normal; /* Allow label text to wrap */
        word-wrap: break-word; /* Break long words in label */
    }
    .text-wrap {
        white-space: normal;
        word-wrap: break-word;
    }
}

@media (min-width: 768px) {
    .center-dot{    
        text-align: center;
    }
}

.text-wrap {
    white-space: normal;
}

.text-nowrap {
    white-space: nowrap;
}

.action-icons a {
    margin-right: 10px;
}
/* alumni view */
.profile-section {
    margin-bottom: 20px;
  }
  .profile-header {
    background-color: #7b1919;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
  }
  .profile-label {
    font-weight: bold;
    color: #6c757d;
  }
  .profile-value {
    font-weight: 500;
    color: #343a40;
  }
  .divider {
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
  }
/* careers view */
.job-detail {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .detail-label {
    font-weight: bold;
    color: #6c757d;
  }
  .status-active {
    color: green;
    font-weight: bold;
  }
  .status-inactive {
    color: red;
    font-weight: bold;
  }
  .pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word; /* Ensures long words wrap */
}
.header-buttons a {
    margin-right: 8px;
  }

.publish-btn {
    /* background-color: rgb(13, 134, 13);
    color: white;
    border-radius: 5px; */
    background-color: #FEAF00 ; 
    color: #800000;
    border-radius: 5px;
    border:none;
    letter-spacing: 0.2em;
    font-family: inherit;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
}
.publish-btn:hover {
 background-color: #d99400;
}
.unpublish-btn {
    background-color: #800000;
    color: #FEAF00;
    border-radius: 5px;
    border:none;
    letter-spacing: 0.2em;
    font-family: inherit;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
}
.unpublish-btn:hover {
    background-color: #5a0000 ;
}

.confirm-delete-btn{
    margin-left:10px;
    background-color: var(--pupred);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}

/* import expor alumni  */
.import-export-modal {
    width: fit-content;
    min-width: 0;
    max-width: 100%;
    height: auto;
    min-height: 0;
    max-height: 100%;
   display: flex; 
   justify-content: center; 
   align-items: center;
}
.import-export-file {
    border: 2px dotted var(--pupred);
    padding: 20px;
    text-align: center;
    cursor:pointer;
    min-width: 25rem;
}
.import-export-file .form-check {
    text-align: start;
}

.import-export-file select:focus, 
.import-export-file [type="checkbox"].form-check-input:focus, 
.full-download input[type="checkbox"].form-check-input {
    border: 1px solid var(--pupred);
    box-shadow: 0 0 5px var(--pupred);
}

.import-export-file select.form-select option:hover{
    background-color: rgba(128, 0, 0, 0.5);
}


.import-export-file [type="checkbox"].form-check-input:checked {
      accent-color: maroon !important;
      background-color: #800000;
      border: 1px solid var(--pupred);
}
.import-btn {
    margin-left:10px;
    background-color: var(--pupred);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    text-decoration: none;
}

.submit-btn {
  background-color: var(--pupred);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #600;
}

.cancel-btn {
  background-color: white;
  color: var(--pupred);
  border: none;
  border: 2px solid var(--pupred);
  padding: 10px 10px;
  border-radius: 5px;
}
.file-reminder {
    background-color: rgba(128, 0, 0, 0.2);
    text-align: center;
    color: var(--pupred);
    font-size: 0.9em;
    margin-top: 0.5rem;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    
}
.full-download {
    width: 100%;
    background-color: var(--pupred);
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 0.5rem;
}
.full-download input[type="checkbox"].form-check-input {
    transform: scale(1.5);
}
.full-download input[type="checkbox"].form-check-input:checked {
    accent-color: maroon !important;
    background-color: #FEAF00;
    border: 1px solid var(--pupred);
}

/* web settings css */
.settings form input[type="text"]:focus,
.settings form input[type="email"]:focus,
.settings form input[type="email"]:focus,
.settings form input[type="url"]:focus,
.settings form input[type="file"]:focus  
{
    border-color: var(--pupred);
    box-shadow: 0 0 5px rgba(128, 0, 0, 0.5);
}

.settings-title {
      color: var(--pupred);
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

.settings-form-section {
      background: white;
      padding: 2rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

.settings-form-label {
      font-weight: 500;
    }

.settings-file-upload {
      margin-top: 1rem;
    }

.view-content {
    background-color: #fff;
    padding: 10px;
}
.view-content img {
    max-width: 100%;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.view-content h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.view-content pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words */
}
.view-content h2 {
    color: #600;
    margin-bottom: 20px;
}