<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-danger" style="width: 486px; height: 355px; display: flex; justify-content: center; align-items: center;">
          <div class="modal-body d-flex flex-column justify-content-center align-items-center">
              <i class="fa-solid fa-trash" style="font-size: 3rem; color: #800000;"></i>
              <p class="mt-3" style="color: #800000;" id="deleteModalMessage">You're going to delete this item?</p>
              <p style="color: #800000;">Are you sure you want to proceed?</p>
              <div class="d-flex justify-content-center mt-4 w-100 flex-column flex-sm-row">
                  <button class="btn btn-outline-danger flex-fill me-sm-3 mb-2 mb-sm-0" data-bs-dismiss="modal">No, Keep It</button>
                  <button class="confirm-delete-btn btn-danger flex-fill">Yes, Delete</button>
              </div>
          </div>
      </div>
  </div>
</div>
