<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-danger h-100">
      <div class="modal-body d-flex flex-column justify-content-center align-items-center p-4 min-vh-50">
        <i class="fa-solid fa-trash fs-1 text-danger"></i>
        <p class="mt-3 text-danger" id="deleteModalMessage">You're going to delete this item?</p>
        <p class="text-danger">Are you sure you want to proceed?</p>
        <div class="d-flex justify-content-center mt-4 w-100 flex-column flex-sm-row gap-2">
          <button class="btn btn-outline-danger flex-fill" data-bs-dismiss="modal">No, Keep It</button>
          <button class="btn btn-danger flex-fill confirm-delete-btn">Yes, Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
