<div class="top-spacer mt-4">
    <div class="top-nav nav flex-row nav-pills gap-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="sidebar-text" href="/faculty/dashboard"><i class="fa-solid fa-house"></i></a>
        <a class="sidebar-text" href="/faculty/alumni-management"><i class="fa-solid fa-graduation-cap"></i></a>
        <a class="sidebar-text" href="/faculty/careers-management"><i class="fa-solid fa-briefcase"></i></a>
        <a class="sidebar-text" href="/faculty/events-management"><i class="fa-solid fa-calendar-days"></i></a>
        <a class="sidebar-text" href=""><i class="fa-solid fa-newspaper"></i></a>
        <a class="sidebar-text" href="/faculty/faculty_logout"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>
